fastapi
uvicorn
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.46
# langchain-ollama
langchain-chroma
chromadb
ollama
python-dotenv
beautifulsoup4
requests
selenium
webdriver-manager
sentence-transformers==2.6.1
transformers==4.38.2

