fastapi
uvicorn
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.46
langchain-chroma
chromadb
# ollama
python-dotenv
beautifulsoup4
requests
selenium
webdriver-manager
sentence-transformers==2.6.1
transformers==4.38.2
torch==2.1.2
pydantic==1.10.13
datasets
evaluate
scikit-learn
accelerate==0.25.0
